# Assignment No 1                                              # Date- 25 Sep 2022

# 1. Find the all types of errors & why .Explain with examples

There are following types of error occured in python such as Type Error, syntax errors, logic errors & unsupported operators

In [1]:
geek = "Geeks"
num = 4
print(geek + num + geek)

TypeError: can only concatenate str (not "int") to str

In [ ]:
NameError                                 Traceback (most recent call last)
Input In [1], in <cell line: 1>()
----> 1 a.islower()

NameError: name 'a' is not defined

In [ ]:
print = 12 # as a variable
type(print)
print("Hi there")

# 2. Take input of users Take A & Take B print their Sum, Multiplication, divison, square of the numbers

In [ ]:
A=int(input("enter A"))
B= int(input("enter B"))
print(f" enter the sum:{A+B}")
print(f" enter the sum:{A-B}")
print(f" enter the sum:{A*B}")
print(f" enter the sum:{A**B}")
print(f" enter the sum:{A/B}")

# 3.How many reserved keywords are their & why we should not use them as variable name

Almost 32-33 reserved keywords are in python, like 
and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
def       for       lambda    try

but version wise few are acts as constants and few keyword combination is recognised
if i use keyword as vaiable it shows invalid syntax

and=10
  Input In [6]
    and=10
    ^
SyntaxError: invalid syntax

# 4. create email Id using inputs in the following format <lastname>.<firstname>@gmail.com

In [ ]:
lastname, firstname,birthyear = "patil", "prashant", "1978"
print(f"{lastname}.{firstname}{birthyear}@gmail.com")

# 5. Try to print the following lines
- hi i m sunny
- my address is 22/3
- I earn 20$ daily.

In [ ]:
name, address, salary = "Sunny", "Bengaluru", "20$"
print(f"""
Hi I am: {name}
My address is: {place}
I earn daily: {salary}
""")

# 6. Take user input(Name,DOB,City) to fill a form for your college & create their email IDS

In [ ]:
lastname, firstname,dateofbirth,city = "patil", "prashant", "1807","Nashik"
print(f"{lastname}{firstname}.{dateofbirth}{city}@ineuron.in")

# 7. How to convert the following
  a. "22.4" into 22
  b. "22" into complex

In [7]:
# String to integer
A = "22.4"
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")
A = 22.4
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 22.4
data type after: <class 'float'>, value of A: 22.4
data type before: <class 'float'>, value of A: 22.4
data type after: <class 'int'>, value of A: 22

In [ ]:
# String to Complex
A = "22"
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")
A = 22.0
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")